.slide{
    position: relative;
    height: 280px;
    cursor: pointer;
}

.slide figure img{
    object-fit: cover;
}

.slide:hover figure img{
    transform: scale(1.1);
    opacity: 50%;
    transition: all .2s;
}

.cardDetails{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    padding: 0 20px 10px 20px;
}

.cardDetails div{
    display: flex;
    justify-content: space-between;
    color: #fafafa;
    font-size: 20px;
}

.cardDetails div span{
    display: flex;
    align-items: center;
    gap: 10px;  
}

.cardDetails div span p::first-letter{
    text-transform: uppercase;
}

.cardTitle{
    color:#fafafa;
    font-size: 26px;
    font-weight: 500;
}

.icons{
    width: 30px;
    height: 30px;
    color: #fafafa;
}

.favWrapper{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    background-color: #0a0a0aba;
    color: #fafafa;
    transition: all .2s;
}

.favWrapper:hover {
    background-color: #fafafa;
    color: #0a0a0aba;
}

.favIcon{
    width: 20px;
    height: 20px;
}