.cardsWrapper {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr)); 
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px 30px;
    justify-content: space-evenly
}

.cardsWrapper article:first-of-type{
    grid-column: span 2;
}
