.cardWrapper{
    width: 100%;
}

.cardWrapper figure{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.cardWrapper img{
    object-fit: cover;     
}

.cardWrapper figure:hover img{
    transform: scale(1.2);
    opacity: 50%;
    transition: all .2s;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
}

.cardDetails div{
    display: flex;
    justify-content: space-between;
    color: #a3a3a3;
    font-size: 18px;
}

.cardDetails div span{
    display: flex;
    align-items: center;
    gap: 10px;  
}

.cardDetails div span p::first-letter{
    text-transform: uppercase;
}

.cardTitle{
    color:#a3a3a3;
    font-size: 20px;
    font-weight: 500;
}

.icons{
    width: 26px;
    height: 26px;
    color: #dc2626;
}

.favWrapper{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    background-color: #0a0a0aba;
    color: #fafafa;
    transition: all .2s;
}

.favWrapper:hover {
    background-color: #fafafa;
    color: #0a0a0aba;
}

.favIcon{
    width: 16px;
    height: 16px;
}

.circleWrapper{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

a{
    text-decoration: none;
}