.tvShowContainer{
    position: relative;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(10,10,10,1) 100%);
    overflow: hidden;
}

.tvShowWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 38px;  
}

.tvDetails {
    display: flex;
    gap: 40px;
    width: 100%;
}

.tvPoster{
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.backdrop {
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    opacity: 8%;   
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 60%;
}

.tvTitle {
    color: #d4d4d4;
    font-size: 38px;
    font-weight: 400;
}

.tvTitle span {
    margin-left: 12px;
    color: #a3a3a3;
    font-size: 24px;
    font-weight: 300;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
}

.tvGenres a {
    text-decoration: none;
    background-color: #171717;
    padding: 4px 8px;
    margin-right: 12px;
    border-radius: 8px;
    color: #d4d4d4;
}

.topRated {
    display: flex;
    align-items: center;
    gap: 12px;
}

.topRated span {
    color: #d4d4d4;
}

.tagLine {
    color: #737373;
    font-style: italic;
}

.summaryWrapper {
    color: #d4d4d4;
}

.othersDetails {
    display: flex;
    align-items: center;
    gap: 40px;
}

.createdBy {
    display: flex;
    gap: 8px;
    align-items: center;
}

.createdBy h3 {
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 600;
}

.createdBy span {
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 400;
}
