.formWrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 14px;
    height: 50px;
    width: 100%;
}

.inputSearch input{
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 500px;
    outline: none;
    padding: 8px 6px;   
    font-size: 20px;   
    caret-color: #737373;   
    color: #e1dfef;
}

.inputSearch input::placeholder{  
    color: #737373; 
}

.inputSearch::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #dc2626;
    transition: width .3s;
}

.inputSearch:focus-within::after{
    width: 100%;
}

/*.inputSearch:focus{
    border-bottom: solid 1px #3c1e57;
}*/