.formWrapper {
    margin: 40px auto auto auto;
    display: flex;
    align-items: center;
    gap: 14px;
    height: 50px;
    width: 100%;
}

.inputSearch input{
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px 6px;   
    font-size: 20px;   
    caret-color: #737373;   
    color: #e1dfef;
}

.inputSearch input::placeholder{  
    color: #737373; 
}

.inputSearch::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #dc2626;
    transition: width .3s;
}

.inputSearch:focus-within::after{
    width: 100%;
}

.icons{
    color: #a3a3a3;
    width: 22px;
    height: 22px;
}

@media (max-width: 768px){
    .inputSearch input{
        font-size: 16px;   
    }

    .icons{
        width: 18px;
        height: 18px;
    }
}
