.icons{
    color: #d4d4d4;
    width: 50px;
    height: 50px;
}

.alertContainer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alertContainer p{
    text-align: center;
    color: #d4d4d4;
    font-size: 20px;
}

@media (max-width: 640px){
    .icons{
        width: 40px;
        height: 40px;
    }

    .alertContainer p{
        font-size: 16px;
    }
}