.castWrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-end;
}

.castWrapper h3{
    width: 100%;
    color: #d4d4d4;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.cast{
    width: 100%;
    display: flex;
    gap: 20px 12px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.castDetailsWrapper {
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    
}

.castDetailsWrapper img{
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    object-fit: cover;    
    border-radius: 4px;
}

.castDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.castDetails p:first-of-type {
    color: #d4d4d4;
    font-size: 12px;
}

.castDetails p:last-of-type {
    color: #737373;
    font-size: 12px;
}

.seeMore{
    font-size: 12px;
    cursor: pointer;
    color: #d4d4d4;
    display: flex;
    align-items: center;
}

.icons{
    width: 16px;
}